/* @font-face {
  font-family: acme;
  src: url(fonts/acme.ttf);
} */

* {
  font-family: Garamond, serif;
}

button.btn[disabled] {
  opacity: 0.7;
}

@media print {
  header {
    display: none;
  }

  * {
    background-color: white;
    color: black !important;
  }
}
