@font-face {
  font-family: acme;
  src: url(fonts/acme.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + #menu {
  display: block;
}

* {
  font-family: 'Acme', sans-serif;
}

section,
header,
footer,
main {
  @apply bg-l4 text-d1;
  @apply dark:bg-d1 dark:text-l1;
}

header,
footer {
  @apply z-20;
}

.btn {
  @apply font-bold py-2 px-4 rounded border;
  @apply bg-l4 dark:bg-d4;
}

.border {
  @apply border-d4;
  @apply dark:border-l4;
}

textarea,
input,
select {
  @apply bg-d2 text-l2 placeholder-l2;
  @apply dark:bg-l2 dark:text-d2 dark:placeholder-d2;
}

@layer base {
  h1,
  h2 {
    @apply text-center text-l2;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
}

@media print {
  header {
    display: none;
  }

  * {
    background-color: white;
    color: black !important;
  }
}
